.grid-33
  .app--section
    ul.app--user--list
      - for (var i = 0; i < friends.length; i++)  
        li
          .circle--fluid
            .circle--fluid--cell.circle--fluid--primary
              a.app--tweet--author
                .app--avatar(style='background-image: url(' + friends[i].profile_img + ')')
                  img(src=friends[i].profile_img)
                h4 #{friends[i].name}
                p @#{friends[i].screen_name}
            .circle--fluid--cell
              a.button.button-text Unfollow